@page "/manage/users/details/{id:int}"
@attribute [Authorize(Roles = Constants.Roles.Administrator)]

<PageTitle>SuperDuperMart - @($"{Model?.FirstName} {Model?.LastName}")</PageTitle>

@if (Loading)
{
    <Spinner />
}
else
{
    @if (Model != null)
    {
        <div class="row">
            <div class="col-sm-8 col-lg-6">
                <div class="card shadow">
                    <h5 class="card-header">Profile</h5>
                    @if (!string.IsNullOrWhiteSpace(Model.Avatar))
                    {
                        <img src="@Model.Avatar" class="card-img-top rounded mx-3 mt-3 w-50">
                    }
                    <div class="card-body">
                        <EditForm Model="@Model" OnValidSubmit="Submit">
                            <DataAnnotationsValidator />
                            <div class="mb-3">
                                <label class="form-label">Avatar</label>
                                <InputText type="text" class="form-control" @bind-Value="Model.Avatar" />
                                <ValidationMessage For="() => Model.Avatar" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">First name</label>
                                <InputText type="text" class="form-control" @bind-Value="Model.FirstName" />
                                <ValidationMessage For="() => Model.FirstName" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Last name</label>
                                <InputText type="text" class="form-control" @bind-Value="Model.LastName" />
                                <ValidationMessage For="() => Model.LastName" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Street name</label>
                                <InputText type="text" class="form-control" @bind-Value="Model.StreetName" />
                                <ValidationMessage For="() => Model.StreetName" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Zip code</label>
                                <InputText type="text" class="form-control" @bind-Value="Model.ZipCode" />
                                <ValidationMessage For="() => Model.ZipCode" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">City</label>
                                <InputText type="text" class="form-control" @bind-Value="Model.City" />
                                <ValidationMessage For="() => Model.City" />
                            </div>
                            <Button Type="ButtonType.Submit" Label="Save" Color="Color.Dark" />
                            <Button Type="ButtonType.Button" Label="Delete" Color="Color.Danger" />
                            <Button Type="ButtonType.Button" Label="Cancel" Color="Color.Secondary" OnClick="Cancel" />
                        </EditForm>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-lg-6">
                <div class="card shadow">
                    <h5 class="card-header">Account</h5>
                    <div class="card-body">
                        <EditForm Model="@Model" OnValidSubmit="Submit">
                            <DataAnnotationsValidator />
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <InputText type="text" class="form-control" @bind-Value="Model.Username" />
                                <ValidationMessage For="() => Model.Username" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <InputText type="text" class="form-control" @bind-Value="Model.Email" />
                                <ValidationMessage For="() => Model.Email" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Role</label>
                                <InputSelect class="form-control" @bind-Value="Model.RoleId" disabled="@(IsCurrentUserBeingUpdated)">
                                    @foreach (var role in Roles)
                                    {
                                        <option value="@role.Id">@role.Name</option>
                                    }
                                </InputSelect>   
                                <ValidationMessage For="() => Model.RoleId" />
                            </div>
                            <Button Type="ButtonType.Submit" Label="Save" Color="Color.Dark" />
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }
}