@page "/manage/users"
@attribute [Authorize(Roles = Roles.Administrator)]

<PageTitle>SuperDuperMart - Users</PageTitle>

@if (_loading)
{
    <Spinner />
}
else
{
    @if (Model != null && Model.Data.Count() > 0)
    {
        <a href="@("/manage/users/create")" class="btn btn-dark btn-sm mb-2"><i class="bi bi-plus"></i></a>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>City</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Data)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>
                            <img src="@user.Avatar" width="30" height="30" />
                        </td>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>
                            @foreach (var role in user.Roles)
                            {
                                @if (!user.Roles.Last().Equals(role))
                                {
                                    <span class="me-1">@role, </span>
                                }
                                else
                                {
                                    <span>@role</span>
                                }
                            }
                        </td>
                        <td>@user.Location?.City</td>
                        <td>
                            <a href="@($"/manage/users/{user.Id}")" class="btn btn-dark btn-sm"><i class="bi bi-pencil"></i></a>
                            <a href="@($"/manage/users/delete/{user.Id}")" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <Pagination PageNumber="Model.PageNumber"
                    Pages="Model.Pages"
                    OnPreviousClick="HandlePreviousClick"
                    OnPageClick="HandlePageClick"
                    OnNextClick="HandleNextClick" />
    }
}