@page "/manage/users"
@attribute [Authorize(Roles = Roles.Administrator)]

<PageTitle>SuperDuperMart - Users</PageTitle>

@if (_loading)
{
    <Spinner />
}
else
{
    @if (Model != null && Model.Data.Count() > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-2">
                <a href="@("/manage/users/create")" class="btn btn-dark btn-sm">
                    <i class="bi bi-plus-circle"></i>
                </a>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Data)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>
                            <img src="@user.Avatar" width="30" height="30" />
                        </td>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.Role?.Name</td>
                        <td>@user.Created.ToCustomDateTimeFormat()</td>
                        <td>
                            @if (user.LastModified.HasValue)
                            {
                                <span>@user.LastModified.Value.ToCustomDateTimeFormat()</span>
                            }
                            else
                            {
                                <span>@DateTime.MinValue.ToCustomDateTimeFormat()</span>
                            }
                        </td>
                        <td>
                            <a href="@($"/manage/users/details/{user.Id}")" class="btn btn-dark btn-sm"><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <Pagination PageNumber="Model.PageNumber"
                    TotalPages="Model.TotalPages"
                    Position="Position.Center"
                    OnPreviousClick="HandlePreviousClick"
                    OnNextClick="HandleNextClick" />
    }
}