@page "/manage/users/{id:int}"
@attribute [Authorize(Roles = Roles.Administrator)]

<PageTitle>SuperDuperMart - Update @($"{Model?.FirstName} {Model?.LastName}")</PageTitle>

@if (_loading)
{
    <Spinner />
}
else
{
    @if (_alert)
    {
        <Alert Message="Successfully updated user." Color="Color.Success" OnCloseButtonClick="ToggleAlert" />
    }

    @if (Model != null)
    {
        <div class="row">
            <div class="col-sm-8 col-lg-6">
                <div class="card shadow border-0">
                    <div class="card-body">
                        <EditForm Model="@Model" OnSubmit="Submit">
                            <DataAnnotationsValidator />
                            <div class="mb-3">
                                <label class="form-label" for="@Model.Avatar">Avatar</label>
                                <InputText type="text" class="form-control" for="Model.Avatar" @bind-Value="Model.Avatar" />
                                <ValidationMessage For="() => Model.Avatar" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="@Model.FirstName">First name</label>
                                <InputText type="text" class="form-control" for="Model.FirstName" @bind-Value="Model.FirstName" />
                                <ValidationMessage For="() => Model.FirstName" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="@Model.LastName">Last name</label>
                                <InputText type="text" class="form-control" for="Model.LastName" @bind-Value="Model.LastName" />
                                <ValidationMessage For="() => Model.LastName" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="@Model.Location.StreetName">Street name</label>
                                <InputText type="text" class="form-control" for="Model.Location.StreetName" @bind-Value="Model.Location.StreetName" />
                                <ValidationMessage For="() => Model.Location.StreetName" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="@Model.Location.ZipCode">Zip code</label>
                                <InputText type="text" class="form-control" for="Model.Location.ZipCode" @bind-Value="Model.Location.ZipCode" />
                                <ValidationMessage For="() => Model.Location.ZipCode" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="@Model.Location.City">City</label>
                                <InputText type="text" class="form-control" for="Model.Location.City" @bind-Value="Model.Location.City" />
                                <ValidationMessage For="() => Model.Location.City" />
                            </div>
                            <Button Type="ButtonType.Submit" Label="Save" Color="Color.Dark" />
                            <Button Type="ButtonType.Button" Label="Cancel" Color="Color.Secondary" OnClick="Cancel" />
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }
}