@page "/products"

<PageTitle>SuperDuperMart - Products</PageTitle>

@if (Loading)
{
    <p>Loading...</p>
}
else
{
    @if (Model != null && Model.Count() > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-8 col-xl-4">
                <div class="d-flex">
                    <input type="text" class="form-control" placeholder="Search...">
                    <button class="btn btn-primary ms-1"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Material</th>
                    <th>Buy</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>
                            <a href="@($"/products/{product.Id}")">@product.Name</a>
                        </td>
                        <td>@product.Price.ToString("C")</td>
                        <td>@product.Material</td>
                        <td>
                            <a href="#" class="btn btn-success"><i class="bi bi-cart"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No products to be found.</p>
    }
}