@switch (Color)
{
    case Color.Primary:
        <div class="alert alert-primary alert-dismissible">
            <span>@Message</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="Close"></button>
        </div>
        break;
    case Color.Secondary:
        <div class="alert alert-secondary alert-dismissible">
            <span>@Message</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="Close"></button>
        </div>
        break;
    case Color.Success:
        <div class="alert alert-success alert-dismissible">
            <span>@Message</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="Close"></button>
        </div>
        break;
    case Color.Danger:
        <div class="alert alert-danger alert-dismissible">
            <span>@Message</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="Close"></button>
        </div>
        break;
    case Color.Warning:
        <div class="alert alert-warning alert-dismissible">
            <span>@Message</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="Close"></button>
        </div>
        break;
    case Color.Light:
        <div class="alert alert-secondary alert-dismissible">
            <span>@Message</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="Close"></button>
        </div>
        break;
    case Color.Dark:
        <div class="alert alert-dark alert-dismissible">
            <span>@Message</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="Close"></button>
        </div>
        break;
    default:
        <div class="alert alert-primary alert-dismissible">
            <span>@Message</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" @onclick="Close"></button>
        </div>
        break;
}