@if (Color == Color.Dark)
{
    <button 
        type="@(Type == ButtonType.Button ? "button" : "submit")" 
        class="@(Size == ButtonSize.Small ? "btn btn-dark btn-sm" : "btn btn-dark")" 
        disabled="@(_disabled)" 
        @onclick=Click>
        @if (Loading)
        {
            <span class="spinner-border spinner-border-sm me-1"></span>
        }
        @switch (Icon)
        {
            case Icon.Plus:
                <i class="bi bi-plus"></i>
                break;
            case Icon.Pencil:
                <i class="bi bi-pencil"></i>
                break;
            case Icon.Dash:
                <i class="bi bi-dash"></i>
                break;
            case Icon.Trash:
                <i class="bi bi-trash"></i>
                break;
            case Icon.None:
                <span>@Label</span>
                break;
        }
    </button>
}
@if (Color == Color.Secondary)
{
    <button 
        type="@(Type == ButtonType.Button ? "button" : "submit")"
        class="@(Size == ButtonSize.Small ? "btn btn-secondary btn-sm" : "btn btn-secondary")"
        disabled="@(_disabled)" 
        @onclick=Click>
        @if (Loading)
        {
            <span class="spinner-border spinner-border-sm me-1"></span>
        }
        @switch (Icon)
        {
            case Icon.Plus:
                <i class="bi bi-plus"></i>
                break;
            case Icon.Pencil:
                <i class="bi bi-pencil"></i>
                break;
            case Icon.Dash:
                <i class="bi bi-dash"></i>
                break;
            case Icon.Trash:
                <i class="bi bi-trash"></i>
                break;
            case Icon.None:
                <span>@Label</span>
                break;
        }
    </button>
}
@if (Color == Color.Danger)
{
    <button 
        type="@(Type == ButtonType.Button ? "button" : "submit")" 
        class="@(Size == ButtonSize.Small ? "btn btn-danger btn-sm" : "btn btn-danger")"
        disabled="@(_disabled)" 
        @onclick=Click>
        @if (Loading)
        {
            <span class="spinner-border spinner-border-sm me-1"></span>
        }
        @switch (Icon)
        {
            case Icon.Plus:
                <i class="bi bi-plus"></i>
                break;
            case Icon.Pencil:
                <i class="bi bi-pencil"></i>
                break;
            case Icon.Dash:
                <i class="bi bi-dash"></i>
                break;
            case Icon.Trash:
                <i class="bi bi-trash"></i>
                break;
            case Icon.None:
                <span>@Label</span>
                break;
        }
    </button>    
}