<nav class="navbar navbar-expand-lg bg-warning shadow-sm">
    <div class="container">
        <NavLink class="navbar-brand" href="/" Match="NavLinkMatch.All"><i class="bi bi-radioactive"></i> SuperDuperMart</NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav me-auto">
                <AuthorizeView Roles="@Roles.Member">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/products">Products</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="@Roles.Administrator">
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/manage/products">Products</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/manage/users">Users</NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
            <ul class="navbar-nav ms-auto">
                <AuthorizeView>
                    <Authorized>
                        <AuthorizeView Roles="@Roles.Member" Context="Shopper">
                            <Authorized>
                                <li class="nav-item">
                                    <NavLink class="nav-link" href="/cart"><i class="bi bi-cart-fill"></i></NavLink>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                        <li class="nav-item dropdown dropstart">
                            <NavLink class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <AuthorizeView Roles="@Roles.Member" Context="Shopper">
                                    <Authorized>
                                        <i class="bi bi-person-fill"></i>
                                    </Authorized>
                                </AuthorizeView>
                                <AuthorizeView Roles="@Roles.Administrator" Context="Operator">
                                    <Authorized>
                                        <i class="bi bi-person-fill-gear"></i>
                                    </Authorized>
                                </AuthorizeView>
                            </NavLink>
                            <ul class="dropdown-menu">
                                <li>
                                    <h6 class="dropdown-header">@context.User.Identity?.Name</h6>
                                </li>
                                <li>
                                    @{
                                        string? role = context.User.FindRole();
                                        if (!string.IsNullOrEmpty(role))
                                        {
                                            <small class="dropdown-item text-muted disabled">@role</small>                                            
                                        }
                                    }
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><NavLink class="dropdown-item" href="#" @onclick="HandleLogout">Logout</NavLink></li>
                            </ul>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/login">Login</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>