@page "/manage/products/details/{id:int}"
@attribute [Authorize(Roles = Roles.Operator)]

<PageTitle>SuperDuperMart - @Model?.Name</PageTitle>

@if (_loading)
{
    <Spinner />
}
else
{
    @if (Model != null)
    {
        <div class="row">
            <div class="col-sm-8 col-lg-6">
                <div class="card shadow">
                    <div class="card-body">
                        <EditForm Model="@Model" OnValidSubmit="Submit">
                            <DataAnnotationsValidator />
                            <div class="mb-3">
                                <label class="form-label" for="@Model.Name">Name</label>
                                <InputText type="text" class="form-control" for="Model.Name" @bind-Value="Model.Name" />
                                <ValidationMessage For="() => Model.Name" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="@Model.Description">Description</label>
                                <InputTextArea type="text" class="form-control" for="Model.Description" @bind-Value="Model.Description" rows="5" />
                                <ValidationMessage For="() => Model.Description" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="@Model.Price">Price</label>
                                <InputNumber type="number" class="form-control" for="Model.Price" @bind-Value="Model.Price" />
                                <ValidationMessage For="() => Model.Price" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="@Model.Material">Material</label>
                                <InputText type="text" class="form-control" for="Model.Material" @bind-Value="Model.Material" />
                                <ValidationMessage For="() => Model.Material" />
                            </div>
                            <Button Type="ButtonType.Submit" Label="Save" Color="Color.Dark" />
                            <Button Type="ButtonType.Button" Label="Delete" Color="Color.Danger" />
                            <Button Type="ButtonType.Button" Label="Cancel" Color="Color.Secondary" OnClick="Cancel" />
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }
}