@page "/manage/products"
@attribute [Authorize(Roles = Roles.Administrator)]

<PageTitle>SuperDuperMart - Products</PageTitle>

<Spinner Enable="Loading" />
@if (Model != null && Model.Count() > 0)
{
    <div class="row mb-3">
        <div class="col-sm-8 col-xl-4">
            <div class="d-flex">
      @*           <input type="text" class="form-control" placeholder="Search...">
                <button class="btn btn-primary ms-1"><i class="bi bi-search"></i></button> *@
                <a href="@("/manage/products/create")" class="btn btn-success ms-1"><i class="bi bi-plus-circle"></i></a>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Material</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>
                        <a href="@($"/manage/products/{product.Id}")">@product.Name</a>
                    </td>
                    <td>@product.Price.ToString("C")</td>
                    <td>@product.Material</td>
                    <td>
                        <a href="@($"/manage/products/{product.Id}")" class="btn btn-secondary"><i class="bi bi-pencil-square"></i></a>
                        <a href="@($"/manage/products/delete/{product.Id}")" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}