@page "/manage/products"
@attribute [Authorize(Roles = Roles.Administrator)]

<PageTitle>SuperDuperMart - Products</PageTitle>

@if (Loading)
{
    <Spinner />
}
else
{
    @if (Model.Data != null && Model.Data.Count() > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-2">
                <a href="@("/manage/products/create")" class="btn btn-dark btn-sm">
                    <i class="bi bi-plus-circle"></i>
                </a>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Material</th>
                    <th>Category</th>
                    <th>
                        <div class="d-inline" role="button" @onclick=HandleTableHeaderClick>
                            <span>Created</span>
                            <i class="bi bi-caret-down-fill"></i>
                        </div>
                    </th>
                    <th>Last modified</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Data)
                {
                    <tr>
                        <td>
                            <img src="@product.Image" width="30" height="30" />
                        </td>
                        <td>@product.Name</td>
                        <td>@product.Price.ToCurrency("sv-SE")</td>
                        <td>@product.Material</td>
                        <td>@product.Category?.Name</td>
                        <td>@product.Created.ToSimplifiedDateFormat()</td>
                        <td>
                            @if (product.LastModified.HasValue)
                            {
                                <span>@product.LastModified.Value.ToSimplifiedDateFormat()</span>
                            }
                            else
                            {
                                <span>Not modified</span>
                            }
                        </td>
                        <td>
                            <a href="@($"/manage/products/details/{product.Id}")" class="btn btn-dark btn-sm"><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <Pagination 
            PageNumber="Model.PageNumber"
            TotalPages="Model.TotalPages"
            Position="Position.Center"
            OnPreviousClick="HandlePreviousClick"
            OnNextClick="HandleNextClick" />
    }
}